ETCD_NAME="{{ deploy_etcd_etcd_name }}"
ETCD_DATA_DIR="{{ deploy_etcd_etcd_data_dir }}"
ETCD_LISTEN_PEER_URLS="http://0.0.0.0:2380"
ETCD_LISTEN_CLIENT_URLS="http://0.0.0.0:2379"
ETCD_INITIAL_ADVERTISE_PEER_URLS="http://{{ ansible_host }}:2380"
ETCD_INITIAL_CLUSTER="etcd01=http://10.10.5.101:2380,etcd02=http://10.10.5.102:2380,etcd03=http://10.10.5.103:2380"
ETCD_INITIAL_CLUSTER_STATE="new"
ETCD_INITIAL_CLUSTER_TOKEN="etcd_4zba5#SvR6Kp"
ETCD_ADVERTISE_CLIENT_URLS="http://{{ ansible_host }}:2379"
