---
# tasks file for deploy_docker

- name: download docker GPG key
  ansible.builtin.get_url:
    url: https://download.docker.com/linux/ubuntu/gpg
    dest: /etc/apt/keyrings/docker.asc
    mode: '0644'
    owner: root
    group: root

- name: remove docker unoficial components
  ansible.builtin.apt:
    name:
      - docker.io
      - docker-compose
      - docker-compose-v2
      - docker-doc
      - podman-docker
      - containerd
      - runc
    state: absent
    purge: true
    update_cache: true

- name: add docker repository
  ansible.builtin.apt_repository:
    repo: "deb [arch=amd64 signed-by=/etc/apt/keyrings/docker.asc] https://download.docker.com/linux/{{ ansible_distribution | lower }} {{ ansible_distribution_release }} stable"
    state: present
    filename: docker

- name: install docker components
  ansible.builtin.apt:
    name:
      - "docker-ce={{ deploy_docker_docker_ce_ver }}"
      - "docker-ce-cli={{ deploy_docker_docker_ce_cli_ver }}"
      - "containerd.io={{ deploy_docker_containerd_io_ver }}"
      - "docker-buildx-plugin={{ deploy_docker_docker_buildx_plugin_ver }}"
      - "docker-compose-plugin={{ deploy_docker_docker_compose_plugin_ver }}"
    state: present
    update_cache: true

- name: start and enable docker
  ansible.builtin.service:
    name: docker
    state: started
    enabled: yes
